department add component
<!-- <mat-card>
    <form [formGroup]="addEmployeeForm" (submit)="createEmployee()">
        
    <p>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="addEmployeeForm.controls['firstName'].errors && addEmployeeForm.controls['firstName'].hasError('required')">
            Mandatory Field
          </mat-error>
          <mat-error *ngIf="addEmployeeForm.controls['firstName'].errors && addEmployeeForm.controls['firstName'].hasError('minlength')">
            Minimum length of 2 characters
          </mat-error>
        </mat-form-field>
    </p>
        
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="addEmployeeForm.controls['lastName'].errors && addEmployeeForm.controls['lastName'].hasError('required')">
            Mandatory Field
          </mat-error>
          <mat-error *ngIf="addEmployeeForm.controls['lastName'].errors && addEmployeeForm.controls['lastName'].hasError('minlength')">
            Minimum length of 2 characters
          </mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="emailId">
          <mat-error *ngIf="addEmployeeForm.controls['emailId'].errors && addEmployeeForm.controls['emailId'].hasError('email')">
            Invalid Email
          </mat-error>
        </mat-form-field>
    </p>
    
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Mobile Numner" formControlName="mobileNumber">
          <mat-error *ngIf="addEmployeeForm.controls['mobileNumber'].errors && addEmployeeForm.controls['mobileNumber'].hasError('required')">
            Mandatory Field
          </mat-error>
          <mat-error *ngIf="addEmployeeForm.controls['mobileNumber'].errors && addEmployeeForm.controls['mobileNumber'].hasError('minlength')">
            Invalid Mobile Number
          </mat-error>
          <mat-error *ngIf="addEmployeeForm.controls['mobileNumber'].errors && addEmployeeForm.controls['mobileNumber'].hasError('maxlength')">
            Invalid Mobile Number
          </mat-error>
        </mat-form-field>
    </p>
    
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select> -->

        <!-- <input matInput placeholder="Department" formControlName="departmentId">
        <mat-error *ngIf="addEmployeeForm.controls['departmentId'].errors && addEmployeeForm.controls['departmentId'].hasError('required')">
          Mandatory Field
        </mat-error> -->

      <!-- </mat-form-field>
  </p> -->

    <!-- 
    projectId
    createdBy 
    -->

    <!-- <button mat-raised-button color="primary" [disabled]="!addEmployeeForm.valid">Add Employee</button>
    
    </form>
    </mat-card> -->