<mat-list role="list">
    <mat-list-item role="listitem"><a href="employees/list">List Employees</a></mat-list-item>
    <mat-list-item role="listitem"><a href="departments/list">List Departments</a></mat-list-item>
    <mat-list-item role="listitem"><a href="projects/list">List Projects</a></mat-list-item>
    <mat-list-item role="listitem"><a href="employees/create">Add Employee</a></mat-list-item>

    <!-- <mat-list-item *ngIf="adminLoginService.isUserLoggedIn()" role="listitem"><a href="employees/list">List Employees</a></mat-list-item>
    <mat-list-item *ngIf="adminLoginService.isUserLoggedIn()" role="listitem"><a href="departments/list">List Departments</a></mat-list-item>
    <mat-list-item *ngIf="adminLoginService.isUserLoggedIn()" role="listitem"><a href="projects/list">List Projects</a></mat-list-item>
    <mat-list-item *ngIf="adminLoginService.isUserLoggedIn()" role="listitem"><a href="employees/create">Add Employee</a></mat-list-item> -->
    
    <!-- <mat-list-item role="listitem"><a href="projects/create">Add Project</a></mat-list-item> -->
</mat-list>


  